.equipe{
margin-bottom: 10%;
text-align: center;
}
.informations
{
  margin-bottom: 10%;
  text-align: center;
}
.identifiants
{
  margin-bottom: 10%;
  text-align: center;
}
.titre
{
text-decoration: underline;
}
.principale{
  margin: auto;
}
