body {background-color: white;
      font-family: sans-serif;}

.conteneur{
  display: flex;
  margin: auto;

}

.roundedImage{
    width:100%;
    justify-content: space-between;
   display: flex;

}

.lienImage{
  width: 100% ;

}
#conteneurBody{
  display: flex;
  margin: auto;
}
