#conteneurBody {
  width: 80%;
  margin: 0 auto;
}

#conteneurRS {
  display: flex;
  justify-content: space-between;
}

.rs {
  width: 30%;
  height: 100%;
}

.fb-page {
  data-width: 100%;
  data-height: 100%;
}