.profilVIP {
  width: 30%;
}

.photodedicasse {
  width: 20%;
}

.rs {
  width: 5%;
}

.photoVIP {
  width: 30%;
}

#conteneurProfils {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#boxvip {
  display: flex;
  margin: auto;
  border: 1px solid #e1e1e1;
  width: 100%;
}