#conteneurTournois {
  display: flex;
  justify-content: space-around;
}

.tournoi {
  width: 20%;
  padding: 1% 0%;
  border: 2px solid #e1e1e1;
  border-radius: 5%;
}

.linkTournoi {
  display: flex;
  justify-content: space-around;
}

.linkTournoi p {
  margin: 0;
}

#conteneurBody {
  width: 80%;
  margin: 0 auto;
}