#conteneurTournois {
  display: flex;
  justify-content: space-between;
}

.tournoi {
  width: 20%;
  padding: 1% 0%;
  border: 2px solid #e1e1e1;
  border-radius: 5%;
}

#conteneurBody {
  width: 80%;
  margin: 0 auto;
}

/* ================================= RENCONTRE ================================= */
table, tr, .set {
  border: 1px solid #e1e1e1;
}

#conteneurArbre {
  display: flex;
  justify-content: space-around;
}