@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans');

:root {
  --rouge-logo: #ce062d;
  --orange-logo: #e87f0b;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.sousH2 {
  margin: 0 0 2% 0;
  border: 1px solid var(--orange-logo);
  width: 5%;
}

.sousH3 {
  margin: 0 0 2% 0;
  border: 1px solid var(--rouge-logo);
  width: 2%;
}

/* ========================= HEADER ============================ */
header {
  display: flex;
  align-items: center;
}

.linkBlack {
  text-decoration: none;
  color: black;
}

.linkBlackOrange {
  text-decoration: none;
  color: black;
}

.linkBlackRouge {
  text-decoration: none;
  color: black;
}

.s100 {
  width: 100%;
}

.btn {
  border: 2px solid black;
  border-radius: 7%;
  padding: 3%;
}

.btn:hover {
  background-color: var(--rouge-logo);
  color: white;
}

#conteneurNavigation {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
  font-family: 'IBM Plex Sans', sans-serif;
}

#conteneurLogoMenu {
  width: 20%;
}

#conteneurConnexionMenu {
  display: flex;
  text-align: center;
  width: 20%;
  justify-content: space-evenly;
}

#navigation {
  width: 60%;
}

#navigationOl {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  font-size: 115%;
  font-weight: bold;
}

.linkBlackOrange:hover {
  color: var(--orange-logo);
  text-decoration: none;
}

.linkBlackRouge:hover {
  color: var(--rouge-logo);
  text-decoration: none;
}

#loginLogo {
  width: 15%;
}


/* ========================= FOOTER ============================ */
footer {
  display: flex;
  align-items: center;
  color: white;
  background-color: #F2F2F2;
  margin-top: 3%;
}

.navigationFooterOl {
  list-style: none;
  margin: 0;
}

.marginBottom10 {
  margin-bottom: 10%;
}

.linkWhite {
  color: black;
}

#conteneurNavigationFooter {
  display: flex;
  align-items: center;
  width: 20%;
}

#navigationFooter {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 75%;
}


/* ========================= VIP ============================ */

/* ======== Menu =========== */

#menuvip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
  font-family: 'IBM Plex Sans', sans-serif;
}

#navigationvip {
  width: 80%;
}

#navigationvipol {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}

#navigationvipol li a:hover {
  color: var(--rouge-logo);
  text-decoration: none;
}

/* ======== Echelle =========== */

.echelle {
  width: 80%;
  margin: auto;
}

#PresentationCategories {
  text-align: left;
}

#ConteneurEchelle {
  display: flex;
  justify-content: space-between;
}

.imgEchelle {
  float: center;
  width: 120%;
}


/* ======== Profil =========== */

.photoVIP {
  float: left;
  width: 20%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 100%;
  border: 3px solid var(--rouge-logo);
}

#profilVIP {
  justify-content: space-between;
  text-align: left;
  margin: auto;
  width: 80%;
}

#actualitevip {
  justify-content: space-between;
  text-align: left;
  margin: auto;
  width: 80%;
}

.imgreseaux {
  width: 2.5%;
  margin: 0.3%;
}

.imgDrap{
  width: 40.5px;
  height: 27px;
  margin-left: 1%;
  border: 1px solid #000000;
}
