
<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/index.css">
  <link type="text/css" rel="stylesheet" href="Moncompte.css">
  <title>Mon Compte</title>
</head>

<body>
  <header class="s100" id="haut">
    <div id="conteneurNavigation">
      <div id="conteneurLogoMenu">
        <a href="index.html" class="s100"><img src="img/logoOpen.png" alt="logoTournoi" id="logoOpen" class="s100"></a>
      </div>
      <nav id="navigation">
        <ol id="navigationOl">
          <li> <a href="index.html" class="linkBlack">Accueil</a></li>
          <li><a href="#" class="linkBlack">Tableau du tournoi</a></li>
          <li><a href="ListeVIP.php" class="linkBlack">VIP</a></li>
        </ol>
      </nav>
      <div id="conteneurConnexionMenu">
        <div id="btnConnexion" class="btn">
          <a href="#" class="linkBlack">Connexion</a>
        </div>
        <div id="btnInscription" class="btn">
          <a href="#" class="linkBlack">S'inscrire</a>
        </div>
      </div>
    </div>
  </header>

  <div id="conteneurBody">
    <!-- C'est ici que l'on met le corps de la page -->
     <div class="conteneur">
        <div class="roundedImage">
        <a href=""><img src="Images/Monplanning.jpg" class="lienImage"></a>
        </div>
        <div class="roundedImage">
          <a href=""><img src="Images/Reserver.jpg" class="lienImage"></a>
        </div>
        <div class="roundedImage">
          <a href=""><img src="Images/VIP.jpg" class="lienImage"></a>
        </div>
       </div>
  </div>

</body>

<footer>
  <div id="conteneurNavigationFooter">
    <a href="index.html" class="s100"><img src="img/logoOpenFooter.png" alt="logoTournoi" id="logoOpenFooter" class="s100"></a>
  </div>
  <nav id="navigationFooter">
    <ol class="navigationFooterOl">
      <li class="marginBottom10"><a href="#" class="linkWhite">Accueil</a></li>
      <li class="marginBottom10"><a href="#" class="linkWhite">Tableau du tournoi</a></li>
      <li><a href="ListeVIP.php" class="linkWhite">VIP</a></li>

    </ol>
    <ol class="navigationFooterOl">
      <li class="marginBottom10"><a href="#" class="linkWhite">Nous contacter</a></li>
      <li class="marginBottom10"><a href="#" class="linkWhite">Se connecter</a></li>
      <li><a href="#haut" class="linkWhite">Revenir en haut de la page</a></li>

    </ol>
  </nav>
  </div>


</footer>

</html>
