<!DOCTYPE html>
<html lang="fr" dir="ltr">
<!-- <title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/index.css">
  <title>StandSquash</title>
</head>

<body>
  <header class="s100" id="haut">
    <div id="conteneurNavigation">
      <div id="conteneurLogoMenu">
        <a href="index.php" class="s100"><img src="img/logoOpen.png" alt="logoTournoi" id="logoOpen" class="s100"></a>
      </div>
      <nav id="navigation">
        <ol id="navigationOl">
          <li> <a href="index.php" class="linkBlackRouge">ACCUEIL</a></li>
          <li><a href="../controler/tournoisSimQuaControler.php" class="linkBlackRouge">TABLEAUX DES TOURNOIS</a></li>
		  <li><a href="StandMenu.html" class="linkBlackRouge">STAND DU TOURNOI </a></li>
          <li><a href="ListeVIP.php" class="linkBlackRouge">VIP </a></li>
        </ol>
      </nav>
      <div id="conteneurConnexionMenu">
        <a href="MonCompteControler.php" class="linkBlack btn" id="btnConnexion">
          <div>Connexion</div>
        </a>

        <a href="#" class="linkBlack btn" id="btnInscription">
          <div>S'inscrire </div>
        </a>
      </div>
    </div>
  </header>

  <div id="conteneurBody">
    <!-- C'est ici que l'on met le corps de la page -->
 <center>
<p class="w3-jumbo"> Squash </p>
<p class="w3-xxlarge w3-text-grey"> Entrez dans une partie pleine de rebondissement !</p> </center>

<!-- Second Grid: Resent -->
<div class="w3-panel w3-text-grey">
</div>
<div class="w3-row">
<div class="w3-half w3-container">
  <img src="img/PhotoStand/Squash.jpg" style="width:100%">
</div>
<div class="w3-half w3-container">
  <p class="w3-xlarge w3-text-grey">
Pour vous dégourdir un peu entre deux longues sessions de match que diriez-vous de vous bougez un peu dans une de nos salles consacrées au squash ! Venez défier vos amis ou votre famille en un contre un ! <br>
Ouvert de 9h à 18h. <br> Entré libre et gratuite.
 
</p>
</div>
</div> <br> <h4><center>Highlights du match de l'année de Squash de 2018 !</center></h4> 
<center>  <iframe width="560" height="315" src="https://www.youtube.com/embed/-KxgMl0Wp04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </center>
</div>  
  
  

</body>

<footer>
  <div id="conteneurNavigationFooter">
    <a href="index.php" class="s100"><img src="img/logoOpenFooter.png" alt="logoTournoi" id="logoOpenFooter" class="s100"></a>
  </div>
  <nav id="navigationFooter">
    <ol class="navigationFooterOl">
      <li class="marginBottom10"><a href="index.php" class="linkWhite">Accueil</a></li>
      <li class="marginBottom10"><a href="../controler/tournoisSimQuaControler.php" class="linkWhite">Tableau du tournoi</a></li>
	  <li class="marginBottom10"><a href="StandMenu.html" class="linkWhite">Stand tu tournoi</a></li>
      <li class="marginBottom10"><a href="ListeVIP.php" class="linkWhite">VIP</a></li>

    </ol>
    <ol class="navigationFooterOl">
      <li class="marginBottom10"><a href="contact.php" class="linkWhite">Infos Pratiques et Contact</a></li>
      <li class="marginBottom10"><a href="MonCompteControler.php" class="linkWhite">Se connecter</a></li>
      <li><a href="#haut" class="linkWhite">Revenir en haut de la page</a></li>

    </ol>
  </nav>



</footer>

</html>